.gf-header {
    display: flex;
    justify-content: flex-end;
}

.gf-header {
    color:#fff;
    font-size: 16px;
    font-weight: 600;
}

.gf-header {
    text-decoration: underline;
}

.gf-header a + a{
    margin: 0 12px;
}